.error {
    color: red;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.result {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result > p {
    text-align: center;
}